main .cover > a, main .platform > a {
  width: 95%;
  padding: 15px 0;
  margin: 5px 0;
  color: #fff;
  background-color: #54B8DA;
  border-radius: 5px;
}

main .lists > div.list-1 > a, main .lists-spread .container > div.list-1 > a {
  color: #54B8DA;
}

main .lists > div.list-2 > a, main .lists-spread .container > div.list-2 > a {
  color: #E9A945;
}

main .lists > div.list-3 > a, main .lists-spread .container > div.list-3 > a {
  color: #93D148;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #fff;
}

header .container .logo {
  float: left;
}

header .container .logo > a {
  display: block;
}

header .container .logo > a > img.big-logo {
  display: none;
}

header .container > nav {
  float: right;
  line-height: 40px;
  padding-right: 30px;
}

header .container > nav > a {
  font-size: 18px;
}

header .container > nav > ul {
  display: none;
}

header .container > nav > ul > li {
  float: left;
  padding-left: 25px;
}

header .container > nav > ul > li > a {
  text-transform: capitalize;
  font-weight: 300;
}

header .container > nav > ul > li:last-child {
  padding-left: 60px;
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

main .cover {
  background-image: url(https://via.placeholder.com/1920x1080);
  background-position: center;
  padding-top: 300px;
  margin-bottom: 150px;
  text-align: center;
}

main .cover > h1 {
  text-transform: capitalize;
  font-size: 45px;
}

main .cover > h3 {
  font-size: 35px;
  padding: 20px 0;
}

main .cover > a {
  margin-bottom: 25px;
}

main .description {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
}

main .description > h2 {
  padding-bottom: 20px;
  font-size: 40px;
}

main .description > h4 {
  font-size: 20px;
}

main .features .container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
}

main .features .container .feature {
  padding: 30px;
}

main .features .container .feature .feature-name {
  color: #57B9DB;
  font-size: 20px;
  padding: 10px 0;
}

main .features .container .feature .feature-detail {
  text-align: left;
  color: #484A4D;
}

main .features .container .plus {
  color: #DEDFE2;
  font-size: 25px;
}

main .idea {
  font-size: 20px;
  font-weight: 300;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 150px;
  border-top: 2px solid red;
  padding-top: 20px;
}

main .iframe-embed-wrapper {
  margin-bottom: 150px;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

main .iframe-embed-wrapper .iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

main .iframe-embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

main .platform {
  text-align: center;
  margin-bottom: 100px;
}

main .platform .description {
  margin-bottom: 50px;
}

main .platform .learn {
  color: #000;
  background-color: #fff;
  border: 1px solid #CCC;
}

main .platform > img {
  margin-top: 50px;
}

main > hr {
  margin: 0 auto;
  width: 200px;
  border-top: 0;
  border-color: #ccc;
}

main .partners {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}

main .partners .container > h3 {
  margin: 50px 0;
  text-transform: capitalize;
  font-size: 30px;
}

main .partners .container > img {
  padding: 30px 60px;
}

main .customers {
  background-color: #F8F8F8;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 0;
}

main .customers .container .quotes > h4 {
  padding: 30px 0;
  font-size: 20px;
}

main .customers .container .customer-logo > img {
  width: 50%;
  margin: 10px auto;
}

main .lists > div {
  margin: 3px;
  background-color: #F1F1F2;
}

main .lists > div > a {
  width: 100%;
  padding: 10px;
  font-weight: 300;
}

main .lists > div > ul {
  display: none;
  background-color: #fff;
  padding-left: 30px;
}

main .lists > div > ul > li > a {
  line-height: 3;
  font-weight: 300;
  text-transform: capitalize;
}

main .lists-spread {
  display: none;
  padding: 0 10px;
  background-color: #F8F8F8;
}

main .lists-spread .container > div {
  width: 20%;
}

main .lists-spread .container > div > ul > li {
  line-height: 2.5;
}

main .lists-spread .container > div > ul > li > a {
  font-weight: 300;
  text-transform: capitalize;
}

main .footer .languages {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}

main .footer .languages > a {
  display: none;
  width: 280px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-weight: 300;
  text-transform: capitalize;
}

main .footer .languages > a > span {
  float: right;
}

main .footer .languages > a.active {
  display: inline-block;
}

main .footer .languages .drop-down {
  display: none;
  position: relative;
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

main .footer .languages .drop-down > ul {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid orange;
  width: 280px;
  background-color: #fff;
}

main .footer .languages .drop-down > ul > li > a {
  width: 100%;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 2;
  padding-left: 38px;
}

main .footer .languages .drop-down > ul > li > a:hover {
  background-color: #BBD6FC;
}

main .footer .center-medium .copy-right {
  text-align: center;
  font-weight: 300;
}

main .footer .center-medium .social-media {
  padding: 30px 0;
  text-align: center;
}

main .footer .center-medium .social-media > a {
  margin: 0 30px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  background-color: #D8DBE1;
  color: #ffffff;
  font-size: 25px;
}

.message {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.message .chat-box {
  display: none;
  width: 430px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 2px 18px #888888;
          box-shadow: 2px 2px 18px #888888;
}

.message .chat-box .robot {
  color: #ffffff;
  background-color: #285E7D;
}

.message .chat-box .robot .picture {
  margin: 0 auto;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #DEE7EB;
  border: 1px solid #285E7D;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 60px;
  font-size: 35px;
}

.message .chat-box .robot .help {
  position: relative;
  left: 15px;
  bottom: 15px;
}

.message .chat-box .question > textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  color: #cccccc;
  resize: none;
}

.message > a {
  float: right;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 5px;
  background-color: #285E7D;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 18px #888888;
          box-shadow: 2px 2px 18px #888888;
  font-size: 20px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-container .modal {
  background-color: #000000;
}

.modal-container .modal > a {
  float: right;
  color: #ffffff;
  padding: 20px;
}

.modal-container .modal > ul {
  padding: 50px 100px;
}

.modal-container .modal > ul > li > a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 3;
  text-transform: capitalize;
}

@media (min-width: 482px) {
  header {
    height: 90px;
  }
  header .container .logo > a > img.small-logo {
    display: none;
  }
  header .container .logo > a > img.big-logo {
    display: block;
  }
  header .container > nav {
    line-height: 90px;
  }
  header .container > nav > a {
    font-size: 30px;
  }
  main .cover > a {
    width: 210px;
  }
  main .features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .features .container .feature {
    width: 28%;
  }
  main .features .container .plus {
    display: inline-block;
    position: relative;
    top: 100px;
  }
  main .platform > a {
    width: 145px;
  }
  main .partners .container > img {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  main .customers .container .customer-logo > img {
    width: 70%;
  }
}

@media (min-width: 768px) {
  main .idea {
    width: 600px;
  }
  main .customers .container .customer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .customers .container .customer-logo > img {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .lists {
    display: none;
  }
  main .lists-spread {
    display: block;
  }
  main .lists-spread .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .footer .languages {
    padding-bottom: 20px;
  }
  main .footer .center-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .footer .center-medium .copy-right {
    width: 350px;
    line-height: 100px;
  }
  main .footer .center-medium .social-media {
    width: 200px;
  }
  main .footer .center-medium .social-media > a {
    margin: 0 10px;
  }
}

@media (min-width: 992px) {
  header {
    z-index: 10;
  }
  header .container > nav > a {
    display: none;
  }
  header .container > nav > ul {
    display: block;
  }
  main .iframe-embed-wrapper {
    max-width: 992px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  main .iframe-embed-responsive-16by9 {
    padding-bottom: 558px;
  }
  main .platform > img {
    max-width: 992px;
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media (min-width: 1180px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
  main .footer {
    padding: 0 10px;
  }
  main .footer .languages {
    float: left;
  }
  main .footer .languages .drop-down > ul {
    top: -40px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  main .footer .center-medium {
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */